VERİ KÜMELERİNİ BİRLEŞTİRME

In [3]:
import pandas as pd
import numpy as np

In [5]:
df1=pd.DataFrame({'key':['b','b','a','c','a','a','b',],
                 'data1':range(7)})
df1

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6

In [7]:
df2=pd.DataFrame({'key':['a','b','d'],
                 'data2':range(3)})
df2

  key  data2
0   a      0
1   b      1
2   d      2

In [9]:
pd.merge(df1,df2,on='key')

  key  data1  data2
0   b      0      1
1   b      1      1
2   a      2      0
3   a      4      0
4   a      5      0
5   b      6      1

In [12]:
df3=pd.DataFrame({'lkey':['b','b','a','c','a','b','b'],'data1':range(7)})

In [16]:
df4=pd.DataFrame({'lkey':['b','a','c','c','a','b','a'],'data1':range(7)})#derstekiyle birebir aynı olmayabilir

In [17]:
pd.merge(df3,df4,left_on='lkey',right_on='rkey')

KeyError: 'rkey'